@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Pretendard:wght@400;500;700&family=Afacad:wght@400;500;700&family=Alata&display=swap");
@import url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.css");

