@media (min-width: 768px) {
  .tw-dd24643d61.tw-abdde17331 {
    flex-direction: row-reverse;
  }
}

.tw-61a552a9d5 {
  pointer-events: none;
}

.tw-c7bf264643 .tw-355bb76ab0 {
  color: rgba(255, 90, 105, 0.98);
}

.app-footer {
  font-size: 14px;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .app-footer {
    font-size: 16px;
  }
}

.app-footer p,
.app-footer .tw-ca6bf63030 {
  font-size: inherit !important;
}

.app-footer .tw-bd7d0e5f5e,
.app-footer .tw-bd7d0e5f5e p {
  font-size: inherit !important;
  line-height: inherit;
}
